*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container > div {
    margin-bottom: 60px;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.logo{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.logo img{
    width: 50px;
    transition: all ease 1.5s;
}

.logo img:hover{
    transform: scale(2.0);
    rotate: 360deg;
    background: none;
    cursor: pointer;
}



.logo ul{
    border: 1px solid white;
    list-style-type: none;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.logo ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    transition: all ease 1s;

    
    
}
.logo ul li a{
    position: relative;
}

.logo ul li a:after{
    content: "";
    position: absolute;
    left: 0;
   width: 0;
   bottom: -5px;
   background: #8a1c4a;
   height: 2px;
   transition: all 1s ease-out ;

}


.logo ul li a:hover:after { 
    color: #8a1c4a;
    left: 0;
    width: 100%;
  }
  
  .logo ul li a:hover {
    color: #8a1c4a;
  }


  .title{
    color: #8a1c4a;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    
  }

  .images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all ease 1s;
    gap: 2rem;
  }

  .images a{
    width: 250px;
    height: 200px;
    animation: scaler 7s ease-in-out infinite;
    -webkit-box-shadow
    box-shadow: 0px 4px 9px 1px black;
    transition: all ease 3s;

    transform: translate(0);

  }
.images a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.images:hover a{
    animation: none;
}

.images a :hover{
    transform: scale(2);
    cursor: pointer;
    z-index: 1;
}


.icons{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.icons ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.icons i{
    font-size: 30px;
    transition: ease 1s;
}
.icons i:hover{
    transform: scale(1.3);
    rotate: 360deg;
    cursor: pointer;
    
}
.fa-instagram:hover{
    color:#FC00D9 ;
}


.fa-youtube:hover{
    color:#F70000
}

.fa-facebook:hover{
    color: #1773EA;
}

.fa-twitter:hover{
    color: #1773EA;
}

#check{
    display: none;
    
}

.btn_one{
    display: none;
    font-size: 50px;
}

.btn_two{
    display: none;
    font-size: 50px;
}











@keyframes scaler {
    0%{
        transform: scale(0.9);
    }
    
    100%{
        transform: scale(2);
    }
}


@media screen and(max-width : 500px) {
    .title{
        font-size: 40px;
    }

    .images a {
        transform: translate(-150px);
    }
    .icons{
        justify-content: center;

    }
    .menu ul{
        opacity: 0;
        display: flex;
        flex-direction: column;

    }

    .btn_one{
        display: block;

    }

    .btn_one{
        display: block;
    }

    #check:checked ~ ul{
            opacity: 1;

        }

    #check:checked ~ .btn_two {
            display: block;
          }
     #check:checked ~ .btn_one  {
            display: none;
          }
          
}




@keyframes scaler {
    0% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1.5);
    }

  
}



@media screen and (max-width :370px) {
  .title{
    font-size: 30px;
    
  }
  .logo ul  {
      flex-direction: column;
  }


  @keyframes scaler {
    0% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1.1);
    }

    
  }
}